<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="create-elevators.component.css">
</head>
<body>
<div class="container">
  <h1> Create a New Elevator</h1>
  <form (ngSubmit)="createElevator()">
    <div class="form-group">
      <label for="building">Building':</label>
      <input type="text" id="building" name="building" [(ngModel)]="elevator.building" >
    </div>

    <div class="form-group">
      <label for="floorList">Floor List:</label>
      <input type="text" id="floorList" name="floorList" [(ngModel)]="elevator.floorList" >
    </div>

    <div class="form-group">
      <label for="brand">Brand:</label>
      <input type="text" id="brand" name="brand" [(ngModel)]="elevator.brand" >
    </div>

    <div class="form-group">
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" [(ngModel)]="elevator.model" rows="4" >
    </div>

    <div class="form-group">
      <label for="serialNumber">Serial number:</label>
      <input type="text" id="serialNumber" name="serialNumber" [(ngModel)]="elevator.serialNumber" rows="4" >
    </div>

    <div class="form-group">
      <label for="description">Dimension:</label>
      <input type="text" id="description" name="description" [(ngModel)]="elevator.description" rows="4" >
    </div>


    <button type="submit">Create Elevator</button>
  </form>
</div>
</body>


</html>
