<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="create-robots.component.css">
</head>
<body>
<div class="container">
  <h1> Create a New Robot</h1>
  <form (ngSubmit)="createRobot()">
    <div class="form-group">
      <label for="codRobot">Robot Code:</label>
      <input type="text" id="codRobot" name="codRobot" [(ngModel)]="robot.codRobot" >
    </div>

    <div class="form-group">
      <label for="nickName">Nickname:</label>
      <input type="text" id="nickName" name="nickName" [(ngModel)]="robot.nickName" >
    </div>

    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" id="type" name="type" [(ngModel)]="robot.type" >
    </div>

    <div class="form-group">
      <label for="serialNumber">Serial Number:</label>
      <input type="text" id="serialNumber" name="serialNumber" [(ngModel)]="robot.serialNumber" >
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" [(ngModel)]="robot.description" rows="4" >
    </div>

    <button type="submit">Create Robot</button>
  </form>
</div>
</body>


</html>
