<form (ngSubmit)="onSubmit()">
    <p class="form-title">Update SystemUser</p>
    <button class="close-button" (click)="closeForm()">X</button>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" name="email" placeholder={{selectedSystemUser.email}} [(ngModel)]="selectedSystemUser1.email">
    </div>
    <div class="mb-3">
        <label for="roleId" class="form-label">RoleId</label>
        <input type="text" class="form-control" name="roleId" placeholder={{selectedSystemUser.roleId}} [(ngModel)]="selectedSystemUser1.roleId" disabled>
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">PhoneNumber</label>
        <input type="number" class="form-control" name="phoneNumber" placeholder={{selectedSystemUser.phoneNumber}} [(ngModel)]="selectedSystemUser1.phoneNumber">
    </div>
    <div class="mb-3">
        <label for="contribuinte" class="form-label">Contribuinte</label>
        <input type="number" class="form-control" name="contribuinte" placeholder={{selectedSystemUser.contribuinte}} [(ngModel)]="selectedSystemUser1.contribuinte">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
