
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="create-robotTypes.component.css">
</head>
<body>
<div class="container">
  <h1> Create a New Robot Type</h1>
  <form (ngSubmit)="createRobotType()">

    <div class="form-group">
      <label for="code" class="form-label">RobotType Code</label>
      <input type="text" class="form-control" [(ngModel)]="code" name="code">
    </div>
    <div class="form-group">
      <label for="brand" class="form-label">RobotType Brand</label>
      <input type="text" class="form-control" [(ngModel)]="brand" name="brand">
    </div>
    <div class="form-group">
      <label for="model" class="form-label">RobotType Model</label>
      <input type="text" class="form-control" [(ngModel)]="model" name="model">
    </div>

    <p class="taskType">Choose Task types:</p>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" [(ngModel)]="checkboxValues[0]" name="checkboxValues0">
      <label class="form-check-label" for="flexCheckDefault1">
        Pick & Delivery
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" [(ngModel)]="checkboxValues[1]" name="checkboxValues1">
      <label class="form-check-label" for="flexCheckDefault2">
        Surveillance
      </label>
    </div>


    <button type="submit">Create Robot Type</button>
  </form>
</div>
</body>


</html>
