<!-- update-buildings.component.html -->
<div>
  <h2>List of Passages</h2>
  <ul>
    <li *ngFor="let passage of passages">
      <button (click)="editPassage(passage.id)">{{ passage.name }}</button>
    </li>
  </ul>
</div>
<div *ngIf="selectedPassage">
  <h2>Edit Passage</h2>
  <form (submit)="updatePassage()">
    <label for="name" class="form-label">Name:</label>
    <input type="text" id="name" name="name" placeholder={{selectedPassage.name}} [(ngModel)]="selectedPassage.name" >

    <label for="description" class="form-label">Description:</label>
    <textarea id="description" name="description" placeholder={{selectedPassage.name}} [(ngModel)]="selectedPassage.description" ></textarea>

    <label for="fromFloor" class="form-label">From floor:</label>
    <input type="text" id="fromFloor" name="fromFloor" placeholder={{selectedPassage.name}} [(ngModel)]="selectedPassage.fromFloor" >

    <label for="toFloor" class="form-label">To Floor:</label>
    <input type="text" id="toFloor" name="toFloor" placeholder={{selectedPassage.name}} [(ngModel)]="selectedPassage.toFloor" >

    <button type="submit">Update Building</button>
  </form>
</div>
