<div *ngIf="passage">

  <h2>{{passage.name | uppercase}} Details</h2>
  <div>
    <label for="passage-name">Name: </label>
    <input id="passage-name" [(ngModel)]="passage.name" placeholder="name" readonly><br>

    <label for="passage-fromFloor">From Floor: </label>
    <input id="passage-fromFloor" [(ngModel)]="passage.fromFloor" placeholder="fromFloor" readonly><br>

    <label for="passage-toFloor">To Floor: </label>
    <input id="passage-toFloor" [(ngModel)]="passage.toFloor" placeholder="toFloor" readonly><br>

    <label for="passage-description">Description: </label>
    <input id="passage-description" [(ngModel)]="passage.description" placeholder="description" readonly>

  </div>

</div>
