<div *ngIf="passage">

  <h2>{{passage.id | uppercase}} Details</h2>
  <div>
    <label for="passage-fromFloorId">From Floor: </label>
    <input id="passage-fromFloorId" [(ngModel)]="passage.fromFloorId" placeholder="fromFloorId" readonly><br>

    <label for="passage-toFloorId">To Floor: </label>
    <input id="passage-toFloorId" [(ngModel)]="passage.toFloorId" placeholder="toFloorId" readonly><br>

    <label for="passage-description">Description: </label>
    <input id="passage-description" [(ngModel)]="passage.description" placeholder="description" readonly>

  </div>

</div>
