<!--div *ngIf="building">

    <h2>{{building.name | uppercase}} Details</h2>
    <div>
      <label for="building-name">Name: </label>
      <input id="building-name" [(ngModel)]="building.name" placeholder="name" readonly><br>
      <label for="building-name">Description: </label>
      <input id="building-description" [(ngModel)]="building.description" placeholder="description" readonly><br>
      <label for="building-name">Code: </label>
      <input id="building-code" [(ngModel)]="building.code" placeholder="code" readonly>
    </div>
  
  </div>-->
  <!-- building-details.component.html -->

