<!--<button mat-button class="menu-button" routerLink="/buildings">
  <span>Buildings</span>
</button>
-->

<nav class="menu">

  <ul>
    <h1>RobDroneGo</h1>

     <button mat-button class ="menu button"routerLink="/buildings">
      <span>Buildings</span>
     </button>

    <button mat-button class ="menu button"routerLink="/floors">
      <span>Floors</span>
    </button>

     <button mat-button class ="menu button"routerLink="/elevators">
      <span>Elevators</span>
     </button>

    <button mat-button class ="menu button"routerLink="/passages">
      <span>Passages</span>
    </button>

    <button mat-button class ="menu button"routerLink="/robots">
      <span>Robots</span>
    </button>

  </ul>

</nav>

<router-outlet></router-outlet>



<!--<img src="images\robo2.jpg" width="800" height="600">-->

