  <div class="terms-container">
    <div class="terms-container" style="color: #fff; font-size: 12px; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">  <p>
    <strong>Introdução</strong><br>
    A empresa RobDroneGo, sediada em Portugal, na cidade do Porto, é responsável por gerir o sistema de robots automatizados com diversas funcionalidades entre as quais entrega de bens aos utilizadores e vigilância, no campus do Instituto Superior de Engenharia do Porto.
    Ao utilizar os serviços da RobDroneGo, o utilizador concorda explicitamente com o tratamento dos seus dados pessoais, conforme descrito neste documento e de acordo com as regras estabelecidas no Regulamento Geral de Proteção de dados (RGPD) pois conforme o artigo 3o, os titulares dos dados trabalham para uma empresa portuguesa, país que é membro da União Europeia.
  </p>

  <p>
    <strong>Responsável do Tratamento</strong><br>
    A responsabilidade pelo tratamento dos dados pessoais é da empresa RobDroneGo, qualquer problema ou dúvida a colocar acerca desta matéria é favor comunicar a nós através do email:<br>
    <strong>Email:</strong> rgpd&#64;robdronego.com
  </p>

  <p>
    <strong>Tratamento de Dados Pessoais</strong><br>
    O tratamento dos respetivos dados pessoais dos nossos utilizadores por parte da organização RobDroneGo serão os seguintes:
  <ol>
    <li><strong>Recolher:</strong> a organização irá proceder à recolha de um conjunto de dados pessoais fornecidos pelos seus utilizadores que irão ser descritos mais a frente no documento.</li>
    <li><strong>Consumir:</strong> após a coleta dos dados, iremos utilizar as informações fornecidas para verificar a elegibilidade do utilizador utilizar os nossos serviços.</li>
    <li><strong>Organizar:</strong> os dados coletados dos utilizadores irão ser estruturados num banco de dados da organização e respetivamente categorizados por campos.</li>
    <li><strong>Utilização:</strong> a empresa utilizará os dados fornecidos para o bom funcionamento dos serviços da nossa aplicação, como por exemplo o nosso sistema de autenticação e o sistema de gestão de tarefas.</li>
    <li><strong>Divulgar:</strong> a empresa poderá em certas ocasiões somente quando necessário de fornecer os dados pessoais coletados à organização que contratou os nossos serviços.</li>
  </ol>


  <p>
    <strong>Dados Pessoais Tratados</strong><br>
    Conforme o artigo 6o do RGPD, aqui fica descrito todos os dados pessoais a serem recolhidos pela organização:
  <ul>
    <li><strong>Nome do colaborador:</strong> O nome do colaborador será usado para a identificação do utilizador caso haja uma necessidade de comunicação, sendo esta feita tanto por email ou por telefone.</li>
    <li><strong>Número de telefone:</strong> Este dado será usado tanto em situações de comunicação necessárias quanto como parte de medidas futuras de segurança. Está prevista a implementação de autenticação de dois fatores, em que o utilizador receberá um código para autorizar o acesso à página do trabalho na aplicação. Além disso, há a opção de ser atualizado quando necessário.</li>
    <li><strong>Email do colaborador:</strong> O email do colaborador, que pode ser o pessoal ou o da empresa, servirá para identificá-lo de forma única. Além de ser uma forma de receber códigos para autenticação e aceder à aplicação, também poderá ser utilizado para comunicar atualizações no sistema e registar atividades no mesmo.</li>
    <li><strong>Data de nascimento:</strong> Para que seja identificada a faixa etária dos utilizadores e, consequentemente, seja realizada uma análise e tomadas de decisões da aplicação e dos sistemas.</li>
    <li><strong>Função na organização:</strong> É necessário saber qual é a função do utilizador na organização, ou no aplicativo, para que seja redirecionado para a página inicial correta e trabalhar apenas com o que tenha permissão para fazer pelo tipo de utilizador.</li>
    <li><strong>Palavra-passe:</strong> É necessário para a autenticação do usuário, tal como o email do colaborador, para que seja redirecionado para a página inicial, na que tem permissões conforme a sua função.</li>
    <li><strong>Captação de Imagens:</strong> Os robots da RobDroneGo têm a capacidade de vigilância para melhorar a sua segurança.</li>
  </ul>
  Os dados acima especificados têm um tempo e serão conservados até o fim do contrato caso seja trabalhador ou até não estar matriculado caso seja estudante. Caso não haja uma renovação do contrato ou dos dados, tornam-se anonimizados. O titular dos dados tem acesso às suas informações podendo alterá-las com a exceção da sua função na aplicação.
  Podemos então concluir que todos os dados solicitados têm um fim específico e justificado, conforme a disposição legal da alínea c) do no1 do Artigo 5° do RGPD.


  <p>
    <strong>Direitos do Titular dos Dados</strong><br>
    O utilizador terá todos os direitos listados no RGPD, nomeadamente os direitos de:
  <ul>
    <li><strong>informação, artigo 13o e 14o;</strong></li>
    <li><strong>acesso, artigo 15o;</strong></li>
    <li><strong>retificação, artigo 16o;</strong></li>
    <li><strong>oposição, artigo 21°;</strong></li>
    <li><strong>apagamento, artigo 17o;</strong></li>
    <li><strong>limitação de tratamento, artigo 18°;</strong></li>
    <li><strong>portabilidade dos dados, artigo 20o.</strong></li>
  </ul>
  Este utilizador só poderá consultar e atualizar os dados mas, para os eliminar, retificar e/ou limitar o tratamento, deverá ser feito o pedido para que seja feito o processo.


  <a (click)="navigateToTerms()">Ver Termos e Condições</a>
</div>
  </div>
