<!--<div class="create-building-container">
    <h2>Create Building</h2>
    
    <form (ngSubmit)="createBuilding()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="building.name" name="name" required>
      </div>
      
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" [(ngModel)]="building.description" name="description" required>
      </div>
      
      <div class="form-group">
        <label for="dimension">Dimension:</label>
        <input type="text" id="dimension" [(ngModel)]="building.dimension" name="dimension" required>
      </div>
      
      <div class="form-group">
        <label for="code">Code:</label>
        <input type="text" id="code" [(ngModel)]="building.code" name="code" required>
      </div>
      
      <button type="submit">Create Building</button>
    </form>
  </div>
-->

<h1>Funciona!</h1>
