<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="create-passages.component.css">
    </head>
    <body>
        <div class="container">
            <h1> Create a New Passage</h1>
            <form (ngSubmit)="createPassage()">
              <div class="form-group">
                <label for="fromFloorId" class="form-label">From Floor:</label>
                <select class="form-select" id="floorId" name="floorId" [(ngModel)]="passage.fromFloorId">
                  <option *ngFor="let floor of floorsList" [value]="floor.floorNumber">{{ passage.fromFloorId }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="toFloorId" class="form-label">To Floor:</label>
                <select class="form-select" id="floorId" name="floorId" [(ngModel)]="passage.toFloorId">
                  <option *ngFor="let floor of floorsList" [value]="floor.floorNumber">{{ passage.toFloorId }}</option>
                </select>
              </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" [(ngModel)]="passage.description" rows="4" >
                </div>

                <button type="submit">Create Passage</button>
            </form>
        </div>
    </body>
</html>
