.menu {
  background-color: #2c3e50; /* Dark blue-gray */
  font-size: 0;
  padding: 20px;
  text-align: center;
}

.menu h1 {
  color: #ecf0f1; /* Light gray */
  font-size: 24px;
  margin: 0;
}

.menu ul {
  list-style: none;
  display: inline-flex;
}

.sub-menu {
  text-decoration: none;
  padding: 15px 20px;
  color: #495575; /* Light gray */
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.sub-menu:hover {
  background-color: #3498db; /* Bright blue */
}

.menu ul li:last-child {
  float: right;
}

@media (min-width: 48em) {
  .menu ul li {
    display: inline-block;
    width: auto;
  }
}
