<!--div *ngIf="floor">

    <h2>{{floor.name | uppercase}} Details</h2>
    <div>
      <label for="floor-name">Name: </label>
      <input id="floor-name" [(ngModel)]="floor.name" placeholder="name" readonly><br>
      <label for="floor-name">Description: </label>
      <input id="floor-description" [(ngModel)]="floor.description" placeholder="description" readonly><br>
      <label for="floor-name">Code: </label>
      <input id="floor-code" [(ngModel)]="floor.code" placeholder="code" readonly>
    </div>

  </div>-->
