<div>
  <h2>List of Robots</h2>
  <ul>
    <li *ngFor="let robot of robots">
      <button (click)="editRobot(robot.id)">{{ robot.name }}</button>
    </li>
  </ul>
</div>


<div *ngIf="selectedRobot">
  <h2>Edit Robot</h2>
    <form (ngSubmit)="updateRobot()">

        <label for="codRobot" class="form-label">Robot code:</label>
        <input type="text" id="codRobot" name="codRobot" placeholder={{selectedRobot.codRobot}} [(ngModel)]="selectedRobot.codRobot" >

        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" name="name" placeholder={{selectedRobot.name}} [(ngModel)]="selectedRobot.name" >

        <label for="type" class="form-label">Type:</label>
        <input type="text" id="type" name="type" placeholder={{selectedRobot.type}} [(ngModel)]="selectedRobot.type" >

        <label for="serialNumber" class="form-label">Serial Number:</label>
        <input type="text" id="serialNumber" name="serialNumber" placeholder={{selectedRobot.serialNumber}} [(ngModel)]="selectedRobot.serialNumber" >

        <label for="description" class="form-label">Description:</label>
        <input type="text" id="description" name="description" placeholder={{selectedRobot.description}} [(ngModel)]="selectedRobot.description" >

      <button type="submit">Update Robot</button>
    </form>
  </div>
